---
- name: remove before create if forced
  when: pdmn_gcml_force
  ### block start
  block:
    - name: Disable and stop
      ansible.builtin.systemd_service:
        enabled: false
        masked: false
        state: stopped
        name: "pod-{{ pdmn_gcml_podname }}"

    - name: Stop and remove existing pod if exists
      containers.podman.podman_pod:
        name: "{{ pdmn_gcml_podname }}"
        state: stopped
      ignore_errors: yes

    - name: Remove pod systemd service if exists
      ansible.builtin.file:
        path: "{{ pdmn_gcml_systemd_dir }}/pod-{{ pdmn_gcml_podname }}.service"
        state: absent
      loop:
        - "{{ pdmn_gcml_systemd_dir }}/pod-{{ pdmn_gcml_podname }}.service"
        - "{{ pdmn_gcml_systemd_dir }}/container-{{ pdmn_gcml_podname }}-guacd.service"
        - "{{ pdmn_gcml_systemd_dir }}/container-{{ pdmn_gcml_podname }}-mysql.service"
        - "{{ pdmn_gcml_systemd_dir }}/container-{{ pdmn_gcml_podname }}-tomcat.service"
      ignore_errors: yes

    - name: systemctl daemon-reload
      ansible.builtin.systemd_service:
        daemon_reload: true

    - name: Remove existing local directory
      ansible.builtin.file:
        state: absent
        path: "{{ pdmn_gcml_localpath }}"
  ### block end

- name: Create local directory structure
  ansible.builtin.file:
    state: directory
    mode: '0777'
    path: "{{ pdmn_gcml_item }}"
  loop:
    - "{{ pdmn_gcml_localpath }}/db/docker-entrypoint-initdb.d"
    - "{{ pdmn_gcml_localpath }}/db/data"
  loop_control:
    loop_var: pdmn_gcml_item

- name: Pull container images
  containers.podman.podman_image:
    name: "{{ pdmn_gcml_item }}"
    state: present
  loop: "{{ pdmn_gcml_pull_images }}"
  loop_control:
    loop_var: pdmn_gcml_item

- name: Create 01_initdb.sql
  ansible.builtin.template:
    src: "{{ pdmn_gcml_release }}/01_initdb.sql"
    dest: "{{ pdmn_gcml_localpath }}/db/docker-entrypoint-initdb.d/01_initdb.sql"

- name: Create 02_initdb.sql with schema
  ansible.builtin.template:
    src: "{{ pdmn_gcml_release }}/02_initdb.sql"
    dest: "{{ pdmn_gcml_localpath }}/db/docker-entrypoint-initdb.d/02_initdb.sql"

- name: Create pod for guacamole
  containers.podman.podman_pod:
    state: created
    publish: "{{ pdmn_gcml_podpublish }}"
    name: "{{ pdmn_gcml_podname }}"
  notify: restart guacamole

- name: Run MySQL container
  containers.podman.podman_container:
    env:
      MYSQL_ROOT_PASSWORD: "{{ pdmn_gcml_db_pass }}"
    state: started
    privileged: true
    name: "{{ pdmn_gcml_podname }}-mysql"
    image: "{{ pdmn_gcml_db_image }}"
    pod: "{{ pdmn_gcml_podname }}"
    restart_policy: "unless-stopped"
    volume:
      - "{{ pdmn_gcml_localpath }}/db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:Z"
      - "{{ pdmn_gcml_localpath }}/db/data:/var/lib/mysql:Z"
    healthcheck: "mysqladmin ping -h localhost -u root -p${MYSQL_ROOT_PASSWORD}"
    healthcheck_interval: 30s
    healthcheck_timeout: 10s
    healthcheck_retries: 5
    healthcheck_start_period: 30s
  notify: restart guacamole

# - name: Wait until the container reports as "healthy"
#   ansible.builtin.command: "podman wait --condition=healthy {{ pdmn_gcml_podname }}-mysql"
#   register: wait_result
#   changed_when: false

- name: Run guacd container
  containers.podman.podman_container:
    state: started
    restart_policy: "unless-stopped"
    privileged: true
    name: "{{ pdmn_gcml_podname }}-guacd"
    image: "{{ pdmn_gcml_guacd_image }}"
    pod: "{{ pdmn_gcml_podname }}"
    healthcheck: "nc -z 127.0.0.1 4822"
    healthcheck_interval: 30s
    healthcheck_timeout: 10s
    healthcheck_retries: 5
    healthcheck_start_period: 15s
  notify: restart guacamole

# - name: Wait until the container reports as "healthy"
#   ansible.builtin.command: "podman wait --condition=healthy {{ pdmn_gcml_podname }}-guacd"
#   register: wait_result
#   changed_when: false

- name: Run guacamole container
  containers.podman.podman_container:
    state: started
    restart_policy: "unless-stopped"
    privileged: true
    env:
      BAN_ENABLED: "false"
      GUACD_HOSTNAME: "127.0.0.1"
      GUACD_PORT: "4822"
      MYSQL_HOSTNAME: "127.0.0.1"
      MYSQL_PORT: "3306"
      MYSQL_DATABASE: "{{ pdmn_gcml_db_name }}"
      MYSQL_USERNAME: "{{ pdmn_gcml_db_user }}"
      MYSQL_PASSWORD: "{{ pdmn_gcml_db_pass }}"
      # SSL_AUTH_ENABLED: true
      # SSL_AUTH_URI: "https://*.auth.remote.ratners.ru"
      # SSL_AUTH_PRIMARY_URI: "https://remote.ratners.ru"
    name: "{{ pdmn_gcml_podname }}-tomcat"
    image: "{{ pdmn_gcml_guacamole_image }}"
    pod: "{{ pdmn_gcml_podname }}"
    healthcheck: "curl -fsS http://127.0.0.1:8080/guacamole/ || exit 1"
    healthcheck_interval: 30s
    healthcheck_timeout: 10s
    healthcheck_retries: 5
    healthcheck_start_period: 60s
  notify: restart guacamole

# - name: Wait until the container reports as "healthy"
#   ansible.builtin.command: "podman wait --condition=healthy {{ pdmn_gcml_podname }}-tomcat"
#   register: wait_result
#   changed_when: false

# - name: Generate systemd unit files
#   ansible.builtin.shell:
#     cmd: "cd {{ pdmn_gcml_systemd_dir }} && podman generate systemd --files --name {{ pdmn_gcml_podname }}"
#   changed_when: false

- name: Generate systemd unit files
  containers.podman.podman_generate_systemd:
    new: false
    no_header: false
    restart_policy: always
    restart_sec: 60
    use_names: true
    dest: "{{ pdmn_gcml_systemd_dir }}"
    force: "{{ pdmn_gcml_force }}"
    name: "{{ pdmn_gcml_podname }}"
  notify: restart guacamole

- name: Enable and start systemd unit
  ### block start
  block:
    - name: systemctl daemon-reload
      ansible.builtin.systemd_service:
        daemon_reload: true
    - name: Enable and start pod service
      ansible.builtin.systemd_service:
        enabled: true
        masked: false
        state: started
        name: "pod-{{ pdmn_gcml_podname }}"
  rescue:
    - ansible.builtin.pause:
        seconds: 30
    - name: Enable and start pod service
      ansible.builtin.systemd_service:
        enabled: true
        masked: false
        state: restarted
        name: "pod-{{ pdmn_gcml_podname }}"
  ### block end
